// output: ../public/css/app.css, compress: false, sourceMap: true

/*------------------------------
VARIABLES
-------------------------------*/
/*------------------------------
VARIABLES COLOURS GÉNÉRIQUES
-------------------------------*/
@White: #FFFFFF;
@Black: #0E0E0F;
@Error: #CF1415;
@Validate: #25CD7D;
@AlertText: #856404;
@AlertBackground: #fff3cd;
@AlertBorder: #ffeeba;
@Placeholder: @Blue-1;
@Overlay: rgba(1,160,198,.75);
@shadow: rgba(0,0,0,.25);
@BlueShadow: rgba(1,159,198,.6);

/*------------------------------
VARIABLES COULEURS PROJETS
-------------------------------*/
@Grey-5: #707070;
@Grey-4: #B5B5B5;
@Grey-3: #D1D1D1;
@Grey-2: #E8E8E8;
@Grey-1: #F7F7F7;
@Grey-sub-menu: #f9f9f9;
@Grey-tab: #ECEEEF;
@Grey-tab-head: #55595C;
@Grey-item-tab: #373A3C;
@Blue-1: #01A0C6;
@Blue-2: #003880;
@Blue-3: #08093F;
@Blue-4: #071930;
@Orange: #F0AD4E;
@Green: #5CB85C;

/*------------------------------
VARIABLES CHEMIN
--------------------------------*/
@path: "../img";

/*------------------------------
VARIABLES SIZE
--------------------------------*/
@BaseSize: 16;

/*------------------------------
VARIABLES IMAGES
--------------------------------*/
@logo: url('@{path}/svg/obiwash.svg') no-repeat center center;
@imgHeader: url('@{path}/jpg/fond-header-top.jpg') no-repeat center top;

/*------------------------------
IMPORT BASE
--------------------------------*/
@import url("import/fonts.less");
@import url("import/a_reset.less");
@import url("import/a_structure.less");
@import url("import/a_elements.less");
@import url("import/animate.less");
@import url("import/background.less");
@import url("import/bootstrap-grid.min.less");
@import url("import/bootstrap-spacing.less");
@import url("import/border.less");
@import url("import/button.less");
@import url("import/cookies.less");
@import url("import/footer.less");

/*--------------------------------
IMPORT SPÉCIFICITÉ
----------------------------------*/
@import url("import/generatepress-reset.less");
@import url("import/images.less");
@import url("import/layout.less");
@import url("import/formulaires.less");
@import url("import/header.less");
@import url("import/navigation.less");
@import url("import/widgets.less");
@import url("import/alertify.min.less");
@import url("import/bootstrap-alert.min.less");
@import url("import/modal.less");
@import url("import/products.less");
@import url("import/panier.less");
@import url("import/commande.less");
@import url("import/membres.less");
// @import url("import/magnific-popup.less");
// @import url("import/maintenance.less");
// @import url("import/newsletter.less");
// @import url("import/slick.less");