h1,
h2,
h3,
h4{
	line-height: 1;
}
h2,
h3{
	.MarginBottom(20);
}
h1{
	.fontSize(60);
	span{
		font-size: inherit;
		.OpenS-B();
	}
	sup{
		.fontSize(14);
		vertical-align: bottom;
	}
}
h2{
	.fontSize(30);
	color: @Blue-1;
	text-transform: uppercase;
	a{
		font-size: inherit;
		color:inherit;
		text-transform: inherit;
	}
	strong{
		font-size: inherit;
	}
}
h3{
	.fontSize(40);
	font-weight: @Light;
	color: @Blue-1;
	text-transform: uppercase;
	strong{
		.fontSize(40);
	}
}
h4{
	.fontSize(22);
	.MarginTop(20);
	.MarginBottom(10);
}
p{
	.fontSize(14);
	.lineHeight(30);
	.MarginBottom(16);
	a{
		text-decoration: underline;
	}
	ul{
		li{
			list-style: circle;
		}
	}
}
a{
	color: @Black;
	.transition();
	text-decoration: none;
	&:hover, &:focus, &:active{
		color: inherit;
		cursor: pointer;
		outline: none;
	}
}
ol,
ul{
	list-style: none;
	margin: 0;
	li{
		list-style: none;
	}
}
strong{
	font-weight: @Bold;
}
blockquote{
	border: none;
	.Margin(0);
	.fontSize(22);
	.lineHeight(27);
	b{
		.fontSize(28);

	}
}
@media screen and (min-width : 576px){}
@media screen and (min-width : 768px){
	h1{
		.fontSize(70);
		span{
			font-size: inherit;
			.OpenS-B();
		}
		sup{
			.fontSize(20);
			vertical-align: bottom;
		}
	}
	h2{
		.fontSize(38);
		strong{
			font-size: inherit;
		}
	}
	h3{
		.fontSize(40);
		font-weight: @Light;
		color: @Blue-1;
		text-transform: uppercase;
		strong{
			.fontSize(40);
		}
	}
	h4{
		.fontSize(22);
		.MarginTop(20);
		.MarginBottom(10);
	}
	.inside-page-hero{
		h1{
			.fontSize(98);
			margin-top:0px;
		}
	}
	li {
		font-size:1em;
	}
	table {
		font-size:1em;
	}
	p {
		.fontSize(18);
	}
}
@media screen and (min-width : 992px){}
@media screen and (min-width : 1200px){
	.inside-page-hero{
		h1{
			.fontSize(60);
			margin-top:70px;
		}
	}
	h3{
		strong{
			font-size: inherit;
		}
	}
	table{
		.fontSize(14);
	}
	li{
		.fontSize(14);
	}
}