* {
	.FontGeneric();
   -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:focus{
		outline: none;
	}
}
*::-moz-focus-inner {
border: none;
}
body {
	.FontGeneric();
    color: @Black;
    .relative();
    overflow-x: hidden;
	height: 100vh;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button{
	border-radius: 0px;
}
img{
	display: block;
	height: auto;
	max-width: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.site-main{
	margin: 0;
}
.site-inner{
	margin: 0 auto;
}
.site-main > :last-child{
	margin: 0;
}
.breadcrumb{
	.fontSize(14);
	text-transform: uppercase;
	.Margin(30, 0, 60, 0);
	[class^="ti-"], [class*="ti-"]{
		.fontSize(12);
		.Padding(0, 5);
		.lineHeight(25);
	}
	.breadcrumb-current-page{
		text-decoration: underline;
	}
}
/*
#__lpform_input-nom,
.grecaptcha-badge{
	display: none;
}
*/
@media screen and (min-width : 576px){
}
@media screen and (min-width : 768px){
}
@media screen and (min-width : 992px){
	.site-main > :last-child{
		.MarginBottom(60);
	}
}
@media screen and (min-width : 1200px){
	
}