/*------------------------------
CLEARFIX
--------------------------------*/
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
/*------------------------------
STRUCTURE
--------------------------------*/
body.admin-bar:not(.custom-background-image)::before{
	top: 0;
}
body:not(.custom-background-image)::before, body:not(.custom-background-image)::after{
	background: none;
}
.site-main{
	background: none;
	margin: 0;
	.PaddingTop(190);	
	.relative();
}
.section-scroll{
	.MarginTop(-148);
	.PaddingTop(148);
	height: ~"calc(100vh - 30px)";
	overflow: hidden;
}
.page-header{
	.backgroundTopPage();
	.backgroundcover();

	color: @White;
	text-align: center;
	text-transform: uppercase;
	.Height(145);
	.MarginBottom(20);
	h1{
		.OpenS-L();
	}
}

@media screen and (min-width : 576px){
	.site-main{
		.PaddingTop(170);
	}
}
@media screen and (min-width : 768px){
}
@media screen and (min-width : 992px){
}
@media screen and (min-width : 1200px){
	.site-main{
		.PaddingTop(120);
	}

	table {
		border-bottom: 1px solid;
		border-collapse: collapse;
	}
		
	.table-middle {
		border-right: 1px solid;
		border-left: 1px solid;
	}	
	td {
		.Padding(5);
	}
	#contributeurs {
		border:none;
		tbody {
			border:none;
			tr {
				border:none;
			}
		}
	}

	.slogan {
		line-height: 50px;
	}
	
	div .first {
		.MarginBottom(25);
			.MarginTop(25);
		li {
			strong {
				.MarginLeft(-20);
				.MarginBottom(0);
				.MarginTop(0);
			}
			ul {
				li{
					.MarginBottom(0);
					.MarginTop(0);
					.MarginLeft(0);
					&::before {
						content: "\2022";
						color: #01a0c6;
						font-weight: bold;
						display: inline-block; 
						width: 18px;
						.MarginLeft(-14);
						.fontSize(24);
					}
				}
			}
		}
	}
	
	.ti-alert {
		font-size: 30px;
		.MarginRight(10);
	}
	
	h3 {
		.MarginTop(50);
	}
	
	.img-use-obiwash {
		width: 600px;
	}
	
	.results-search {
		article {
			.static() !important;
		}
	}
	
	.caption-portrait-team {
		.Market();
		.fontSize(24);
	}
	
	.tags-links, .entry-date{
		color:@Blue-1;
		*{
			color:@Blue-1;
		}
	}
	.is-style-rounded{
		figure{
			.Height(135);
			.Width(135);
	
		}
	}
}