.backgroundcover(){
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.background100(){
	background-size: 100%;
}
.backgroundTopPage(){
	background: @imgHeader;
}
.boxshadow(@h, @v, @b, @s, @shadow){
	-webkit-box-shadow: @h @v @b @s @shadow;
	-moz-box-shadow: @h @v @b @s @shadow;
	box-shadow: @h @v @b @s @shadow;
}