.button,
button{
	background-color: @Blue-3;
	border: 1px solid @Blue-3;
	.border-radius(@rad:4px);
	color: @White;
	.fontSize(14);
	font-weight: @Regular;
	.lineHeight(40);
	.Height(42);
	.Margin(15);
	.Padding(0, 15);
	width: auto;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	text-align: center;
	text-transform: uppercase;
	i{
		display: inline-block;
		.fontSize(24);
		.Margin(0, 15);
		vertical-align: middle;
	}
	input{
		border: none;
		background-color: transparent;
		text-transform: uppercase;
	}
}
.menu-toggle-mobile{
	&:after{
		color: @White;
		content:'\e64b';
		.Mify();
		.MarginLeft(8);
	}
}
.menu-toggle-mobile.on{
	background-color: @White;
	border-color: @Blue-1;
	cursor: pointer;
	color: @Blue-1;
	&:after{
		color: @Blue-1;
		.Mify();
		content:'\e646';
	}
}
.addPanier{
	background-color: @Blue-3;
	border-color: @Blue-3;
	.MarginRight(0);
	.MarginLeft(0);
	i{
		.MarginRight(10);
	}
}
.seeMore{
	background-color: @Blue-1;
	border-color: @Blue-1;
	.MarginLeft(0);
}
.toggle-menu{
	background-color: transparent;
}
.return-top{
	background-color: transparent;
	border: 1px solid;
	color: @White;
	.Height(45);
	margin: 0 auto;
	.MarginBottom(15);
	.MarginTop(15);
	padding: 0;
	.Width(45);
	span{
		direction: ltr;
		text-indent: -999em;
	}
}
.link-sign-in{
	background-color: @Blue-1;
	border-color: @Blue-1;
	i{
		.MarginLeft(10);
	}
}
.btn-renew-ok{
	padding: 0;
	i{
		.MarginLeft(0);
	}
}
.mdp {
	display: inline-block;
}
.container-btn-ordered{
	 .MarginTop(45);
}
.container-btn-action-bucket{
	button{
		background-color: @Blue-2;
		.Padding(0, 15);
		.MarginRight(40);
		border: none;
		input{
			background-color: transparent;
			margin: 0;
			padding: 0;
			border: none;
			color: @White;
		}
		i{
			.MarginLeft(10);
		}
		&:hover{
			color: @White;
			input{
				background-color: transparent;
				color: inherit;
				border-color: inherit;
			}
			i{
				&:before{
					color: @White;
				}
			}
		}
	}
}
.button.btn-cmde{
	.MarginBottom(40);
}
.button.btn-consulter-panier{
	i{
		.MarginLeft(10);
	}
}
.button.btn-comeback-store{
	background-color: @Orange;
	border-color: @Orange;
	display: inline-block;
	.Height(42);
	margin: 0;
	width: auto;
	i{
		.MarginLeft(0);
		.MarginRight(10);
		width: 20px;
	}
	a{
		color: @White;
	}
}
.button.btn-ordered-ok{
	background-color: @Green;
	border-color: @Green;
	margin: 0;
	width: auto;
	i{
		.MarginLeft(10);
		width: 20px;
	}
}
.button.btn-edit-profil{
	 float:right;
	 .MarginRight(-15);
	 .MarginTop(32);
	.Width(180);
	 color:white;

 }
.button.btn-edit-commande{
	background-color: @Orange;
	border-color: @Orange;
	.MarginBottom(20);
}
.button.btn-annuler-commande{
	background-color: @Error;
	border-color: @Error;
}
button.btn-valider-commande{
	background-color: @Green;
	border-color: @Green;
}
.button.btn-success {
	background-color: @Green;
}
.button.btn-relais-colis{
	background-color: @Orange;
	border-color: @Orange;
	.Height(40);
	.Width(180);
	.Margin(0);
	.Padding(5);
	text-align: center;
}
.btn-record{
	.MarginCenter(15);
	i{
		.MarginLeft(0);
	}
	input[type="submit"]{
		.PaddingLeft(0);
	}
}
@media screen and (min-width : 576px){
}
@media screen and (min-width : 768px){
}
@media screen and (min-width : 992px){
	.container-btn-action-bucket{
		button{
			.MarginRight(0);
			&:hover,
			&:focus,
			&:active{
				color: @Blue-1;
				border: 1px solid;
				*{
					color: inherit;
				}
				i{
					&:before{
						color: inherit;
					}
				}
			}
		}
	}
	.button.btn-edit-profil,
	.button.btn-success,
	.button.btn-modif-commande,
	.button.btn-valider-commande,
	.button.btn-annuler-commande,
	.button.btn-edit-commande,
	.button.btn-edit-profil,
	.button.btn-ordered-ok,
	.button.btn-comeback-store,
	.button.btn-consulter-panier,
	.button,
	button{
		&:hover,
		&:focus,
		&:active{
			background-color: @White;
			border-color: @Blue-1;
			cursor: pointer;
			color: @Blue-1;
			input{
				color: @Blue-1;
				cursor: pointer;
			}
			i{
				color: @Blue-1;
			}
		}	
	}
	.button.btn-comeback-store{
		margin: 0;
		.MarginRight(20);
		i{
			.MarginRight(10);
			width: 20px;
		}
	}	
	.return-top	{
		margin: 0;
	}
	.addPanier{
		&:hover,
		&:focus,
		&:active{
			color: @Blue-3;
		}
		i{
			.MarginRight(10);
		}
	}
	.seeMore{
		&:hover,
		&:focus,
		&:active{
			color: @Blue-1;
		}
	}
	.toggle-menu{
		&:hover,
		&:focus,
		&:active{
				background-color: transparent;
		}
	}
	.return-top{
		&:hover,
		&:focus,
		&:active{
			color: @White;
		}
	}
}
@media screen and (min-width : 1200px){
	.container-btn-action-bucket{
		button{
			.MarginRight(0);
		}
	}
}
