.content-log-sign{
	h2{
		color: @Blue-1;
		.Padding(15);
		text-align: center;
		width: 100%;
		span{
			.fontSize(18);
			width: inherit;
		}
	}
	.col-sign-in{
		background-color: @Grey-1;
		.border-radius(@rad:4px);
	}
	.input-log-in{
		text-align: center;
	}
	button{
		input{
			border: none;
			background: none;
		}
		&:active,
		&:focus,
		&:hover{
			input{
				border: none;
				background: none;
			}
		}
	}
}
.form-sign-in{
	.MarginTop(15);
}
.content-fiche-signin,
.content-checkout{
	h2{
		color: @Blue-1;
		text-transform: uppercase;
		.fontSize(24);
		.PaddingBottom(5);
		border-bottom: 1px solid @Blue-1;
	}
}
.validation-commande,
.message-error{
	text-align: center;
	h4{
		color: @Blue-1;
	}	
}
