//IMPORT FONT
@import url('https://use.typekit.net/htm1pmg.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400,600,700&display=swap');
// FONTAWESOME
@import url('fontawesome/fontawesome.less');
@import url('fontawesome/regular.less');
@import url('fontawesome/solid.less');
@import url('fontawesome/brands.less');
// THEMIFY
@font-face {
	font-family: 'themify';
	src:url('font/themify.eot?-fvbane');
	src:url('font/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('font/themify.woff?-fvbane') format('woff'),
		url('font/themify.ttf?-fvbane') format('truetype'),
		url('font/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="ti-"], [class*="ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@import url('mify.less');

//FONTS STYLES
@Light: 300;
@Regular: 400;
@SemiBold: 600;
@Bold: 700;
@Normal: normal;
@Italic: italic;

//FONTS FAMILY
@OpenSans: 'Open Sans', sans-serif;
@FontAwesome: 'FontAwesome';
@Mify: 'themify';
@Market : 'ff-market-web', sans-serif;

//SIZE FONT
// html{
// 	font-size: 100%;
// }
// .fontSize(@size){
// 	@remSize: (@size / @BaseSize);
// 	@toRem: unit(@remSize, rem);
// 	font-size: ~"@{size}px";
// 	font-size: ~"@{toRem}";
// }
html{
	font-size: 62.5%;
}
//SIZE FONT
.fontSize(@size) {
	@pxSize: (@BaseSize * 10);
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	font-size: ~"@{size}px";
	font-size: ~"@{toRem}";
}
//FONTAWESOME & MIFY
.FontAwesome(){
	font-family: @FontAwesome;
}
.Mify(){
	font-family: @Mify;
}
//FONT PROJET
.OpenS-L(){
	font-family: @OpenSans;
	font-weight: @Light;
}
.OpenS-R(){
	font-family: @OpenSans;
	font-weight: @Regular;
}
.OpenS-SB(){
	font-family: @OpenSans;
	font-weight: @SemiBold;
}
.OpenS-B(){
	font-family: @OpenSans;
	font-weight: @Bold;
}
.Market(){
	font-family: @Market;
	font-weight: @Regular;
}
.FontGeneric(){
	.OpenS-R();
	.fontSize(16);
}

/* .fontSize(@size) {
	@pxSize: (@BaseSize * 10);
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	font-size: ~"@{size}px";
	font-size: ~"@{toRem}";
} */
