.container-footer{
	background-color: @Blue-4;
	color: @White;
	.Padding(30, 0, 50, 0);
	.MarginTop(20);
	width: 100%;
	.logo-brand-footer{
		width: 70%;
		height: auto;
		span{
			direction: ltr;
			text-indent: -999em;
			height: 0px;
		}
	}
	.logo-ulule{
		width: 30%;
		text-align: center;
		span{
			color: @White;
			.fontSize(16);
		}
	}
	p.item-copyright-footer{
		text-align: center;
	}
	ul{
		.MarginTop(15);
		text-align: center;
		li{
			a{
				.fontSize(11);
				.lineHeight(22);
				color: @Grey-3;
			}
		}
	}
	ul.payment-mode,
	ul.social-media{
		color: @White;
		.MarginTop(15);
		.Height(24);
		span{
			direction: ltr;
			text-indent: -999em;
			height: 0px;
		}
	}
	ul.payment-mode{
		li{
			.MarginRight(5);
			.Width(22);
			i{
				.fontSize(20);				
			}
		}
	}
	ul.social-media{
		li{
			.MarginRight(5);
			.Width(22);
				a{
					&:before{
					.fontSize(20);
				}
			}
		}
	}
	li.item-nav-page-footer{
		a{
			text-transform: uppercase;
		}
	}
	li.item-copyright-footer{
		color: @Grey-3;
		.fontSize(10);
		.MarginTop(10);
		a.link-copyright{
			text-decoration: underline;
		}
	}
	h4.payment-title{
		color: @White;
		.fontSize(12);
		.lineHeight(16);
		.MarginTop(30);
		text-align: center;
		text-transform: uppercase;
		i{
			display: inline-block;
			.PaddingRight(5);
			&:before{
				vertical-align: middle;
			}
		}
	}
	sup{
		color: inherit;
	}
}
.footer-product {
	flex-wrap:nowrap;
}

@media screen and (min-width : 576px){
}
@media screen and (min-width : 768px){
	.container-footer{
		.logo-brand-footer,
		.logo-ulule{
			width: 40%;
		}
		.logo-ulule{
			img{
				margin: 0 auto;
				width: 50%;
			}
		}
	}
}
@media screen and (min-width : 992px){
	.container-footer{
		.logo-brand-footer,
		.logo-ulule{
			width: 50%;
		}
		.logo-ulule{
			img{
				margin: initial;
				width: initial;
			}
		}
	}
	.container-footer{
		.Padding(30, 0);
	}
	.footer-product {
		flex-wrap:wrap;
		p {
			.MarginRight(0)
		}
	}
}
@media screen and (min-width : 1200px){
	.container-footer{
		.logo-brand-footer{
			width: 70%;
			.MarginTop(-12);
		}
		.logo-ulule{
		}
		ul{
			.MarginTop(0);
			text-align: left;
		}
		ul.payment-mode,
		ul.social-media{
			li{
				.Margin(0, 5);
				width: auto;
			}
		}
		h4.payment-title{
			text-align: left;
		}
	}
}