.placeHolder(){
	color: @Placeholder;
	.fontSize(16);
	&:hover{
		color: @Black;
	}
	&:focus{
		color: @Black;
	}
}
.Textearea(){
    background: @Grey-1;
	border: none;
	border-radius: 0;
	box-shadow: none;
	.Height(150);
	.transition();
// 	text-transform: uppercase;
}
.Input(){
	background-color: @Grey-1;
	border: none;
	.border-radius(@rad:4px);
	box-shadow: none;
	.lineHeight(40);
	.Padding(0, 10);
	.transition();
}
.InputHover(){
	background-color: @White;
	.Boxshadow();

}
.InputDate(){
	width: 35%;
}
.InputDateHover(){
    border: none;
}
.InputSubmit(){
	// background-color: @Blue-3;
	// border: 1px solid @Blue-3;
	// .border-radius(@rad:4px);
	color: @White;
	.lineHeight(40);
	text-align: center;
	.Padding(0, 15);
	.fontSize(16);
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
}
.InputSubmitHover(){
    // background: @White;
    // border-color: @Blue-1;
	color: @Blue-1;
}
.InputFocus(){
    .InputSubmitHover()
}
/*---------------------------------
FORMULAIRES
-----------------------------------*/
.form-content,
.form-opt-in,
.form-captcha{
	.MarginTop(10);
	position: relative;
}
.form-content-news{
	.form-input{
		width: 100%;
	}
	.form-submit{
    	width: 50%;
    	margin-left: 0;
    	.MarginTop(10);
	}
}
.form-mentions-legales{
	.fontSize(14);
	.lineHeight(14);
	font-style: italic;
	width: auto;
	a{
		text-decoration: underline;
		&:hover{
			color: @Black;
		}
	}
}
.form-submit{
	position:relative;
	&:before{
		display: block;
		position: absolute;
		.MarginTop(-9);
		.Right(15);
		top: 50%;
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	}
	&:hover{
		&:before{
			.transformX(@x:5px);
			color: @White;
		}
	}
}
.form-submit.submit-page{
    margin: 0;
    .MarginTop(20);
}
div.wpcf7{
	position: relative;
	.ajax-loader{
		position: absolute;
		.MarginTop(-8);
		.Right(10);
		top: 50%;
	}
}
span.wpcf7-list-item{
	margin: 0;
	position: relative;
}
/*
input[type=checkbox]{
    display: none;
}
*/
input[type=checkbox]{
    &:hover{
        color: @Black;
        span.wpcf7-list-item-label{
            color: @Black;
        }
    }
}
input[type=checkbox] + span.wpcf7-list-item-label{
    color: @Black;
	.fontSize(16);
	text-transform:none;
	en{
		.fontSize(14);
	}
	&:hover{
		cursor: pointer;
		color: @Black;
	}
/*
	&:before{
		.FontAwesome-free();
		content: "\f0c8";
		.MarginRight(5);
	}
*/
}
/*
input[type=checkbox] + span.wpcf7-list-item-label.check-off{
	&:before{
		content: "\f14a";
	}
}
*/
div.wpcf7-response-output{
	.fontSize(14);
	position: static;
	margin-top: 20px;
	text-align: center;
	padding: 0;
	line-height: 25px;
	padding: 0 10px;
}
div.wpcf7-validation-errors {
	background-color: @Error;
}
span.wpcf7-not-valid-tip{
    background-color: @Error;
}
div.wpcf7-mail-sent-ok {
    background-color: @Validate;
}
span.wpcf7-not-valid-tip,
div.wpcf7-mail-sent-ok{
    border: none;
    clear: both;
    float: left;
    width: 100%;
}
div.wpcf7-validation-errors,
span.wpcf7-not-valid-tip,
div.wpcf7-mail-sent-ok{
    color: @White;
    border: none;
    .fontSize(14) !important;
    text-transform: uppercase;
}
div.wpcf7 {
    .ajax-loader{
        .Right(-10px);
    }
}
.recaptcha-content,
.submit-content{
	float: left;
}
input, select, textarea{
	color: @Black;
    .fontSize(16);
}
textarea{
    .Textearea();
}
input[type="date"],
input[type="datetime-local"]{
    .InputDate();
    .Input();
    &:hover{
        .InputDateHover();
    }
}
input[type="time"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea{
	.Input();
	&:hover,
	&:focus{
		.InputHover();
	}
}
input[type="submit"],
input[type="submit"][disabled],
input[type="button"],
input[type="reset"],
input[type="reset"][disabled]{
	.InputSubmit();
	&:hover,
	&:focus{
		.InputSubmitHover();
	}
}

input[type="number"]{
	.Padding(0);
	background-color: #f7f7f7;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	line-height: 4rem;
	transition: all .3s ease-in-out;
	&:hover,
	&:focus{
		.InputHover();
	}
}

label{
	color: @Black;
}
input::-webkit-input-placeholder {
	.placeHolder();
}
input:-moz-placeholder {
	.placeHolder();
}
input::-moz-placeholder {
	.placeHolder();
}
input:-ms-input-placeholder {
	.placeHolder();
}
*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder{
	.placeHolder();
}
::-webkit-input-placeholder {
	.placeHolder();
}
:-moz-placeholder {
	.placeHolder();
}
::-moz-placeholder {
	.placeHolder();
}
:-ms-input-placeholder {
	.placeHolder();
}
input.form-control{
	.Margin(15, 0);
	.MarginTop(0);
	width: 100%;
}
input.submit-off{
	opacity: .5;
	cursor: not-allowed;
}
.input-record{
	&:after{
		.Mify();
		content:'\e746';
		.fontSize(24);
		.MarginLeft(10);
	}
}
.input-validation{
	p{
	}
}
.champ-obligatoire{
	.fontSize(14);
	color: @Error;
}
sup{
	.fontSize(14);
	color: @Error;
}
.form-fiche-client {
	.PaddingTop(20);
	.MarginBottom(20);
	border-top: 2px solid @Blue-1;
	span {
		color: @Grey-5;
		text-transform: uppercase;
		.OpenS-B();
		vertical-align: middle;
	}
	p{
		text-align: center;
		color: @Error;
	}	
	h2 {
		.MarginTop(40);
		.MarginLeft(0);
		.OpenS-L();
		font-size: 24px;
	}
	li{
		width: 100%;
	}
}
fieldset.livraison,
fieldset.paiement {
	border-top: 2px solid @Blue-1;
	.PaddingTop(10);
	.MarginTop(20);

	ul > :nth-child(1), ul > :nth-child(3) {
		background-color: @Grey-1;
		:nth-child(4) {
			background-color: @Blue-1;
			span {
				color: white;
			}
		}
	}
	.relais-colis {
		flex-direction: column;
		height: 60px;
		.Margin(0);
		.Padding(10);
		.PaddingLeft(0);
		button {
			.Margin(0);
			height: auto
		}

		input {
			.MarginLeft(0);
			.MarginBottom(0);
		}
	}

	.logo-livraison {
		.Padding(10);
		img {
			width: 100%;
		}
	}

	.check {
		border: 3px solid @Blue-1;
	}

	.col-md-2, .col-md-8 {
		.PaddingRight(0);
		.PaddingLeft(0);
	}

	input[type="texte"] {
		height: 100px;
	}

	.col-md-1 {
		width: 100px;
	}

	.prix {
		height: 100px;
		max-width: 20%;
		display: inline-block;
		text-align: center;
		.MarginLeft(0);
		span {
			.MarginLeft(0);
			.fontSize(20);
			.OpenS-B();
			color: @Blue-1;
		}
	}
	span {
		display: inline-block;
		.fontSize(14);
	}
	figure {
		display: none;
	}
	li {
		border: 2px solid white;
		.Height(100);
		position: relative;
		i {
			color: @Grey-5;
			.fontSize(40);
		}
		sup{
			color: @White;
			.fontSize(16);
		}
	}
}
.adresse-garantie{
	h3{
		text-transform: uppercase;
		color: @Blue-1;
		border-bottom: 2px solid @Blue-1;
		.PaddingBottom(10);
		.OpenS-L();
		font-size: 24px;
	}

	h4 {
		.OpenS-L();
		font-size: 16px;
		.MarginBottom(10);
		color: @Blue-1;
		text-transform: uppercase;
	}
}

.container-paiement {
	h2 {
		.MarginTop(40);
		.OpenS-L();
		font-size: 24px;
	}
}

.form-infos{
	.MarginBottom(10);
	.MarginLeft(40);
}

.form-recap-commande{
	img {
		width: 100px;
	}

	th.img {
		display:none;
	}

	h4{
		.PaddingBottom(20);
		.OpenS-L();
		font-size: 16px;
		span {
			color: @Blue-1;
			.OpenS-B();
		}
	}
	h4.title-obi-warranty{
		.PaddingBottom(0);
	}
	td {
		.Padding(20);
	}

	table {
		.items-delivery-total {
			text-transform: uppercase;
			.OpenS-L();
			font-size: 16px;
			.total-ttc {
				.OpenS-B();
				font-size: 18px;
				color: @Blue-1;
			}
		}
		.items-delivery-total-final{
			.total-ttc {
				.OpenS-B();
				font-size: 24px;
			}
			.mode-paiement{
				text-transform: uppercase;
				color: @Blue-1;
			}
		}
	}

	.infos-cmd {
		.PaddingBottom(20);
		h3{
			text-transform: uppercase;
			font-size: 24px;
			.OpenS-L();
			color: @Blue-1;
			border-bottom: 2px solid @Blue-1;
			.PaddingBottom(10);
		}
	}
}


.recap-commande {
	.MarginBottom(30);
	.MarginTop(20);

	form {
		.fieldset-cmd{
			.MarginBottom(30);
		}
		.list-item-cmd{
			li{
				img{
					width: 200px;
					.MarginBottom(20);
				}
				.MarginBottom(10);
				ul {
					line-height: 0px;
				}
				.relais-colis {
					b {
						text-transform: uppercase;
					}
					p{
						margin:0;
					}
					margin:0;
					color:@Blue-1;
				}
			}
		}
	}
}
.mdp-forget{
	color: @Blue-1;
}
.container-input{
	.relative();
}
@media screen and (min-width : 576px){
}
@media screen and (min-width : 768px){
}
@media screen and (min-width : 992px){
	.form-fiche-client {
		.MarginLeft(40);
		.MarginRight(40);
		.PaddingTop(20);
		.MarginBottom(20);
	}
	.form-recap-commande{
		th.img {
			display:inherit;
		}
	}

	fieldset.paiement{
		.relais-colis {
			flex-direction: row;
			height: auto;
			input {
				.MarginLeft(10);
				.MarginBottom(0);
			}
		}
		figure {
			display: inline-block;
		}
		span,
		.choix-relais-colis{
			.MarginLeft(40);
		}
		span {
			display: inline-block;
			.fontSize(16);
		}
		.prix {
			max-width: 11%;
		}
		input[type="text"]{
			.Width(500);
		}
	}
}
@media screen and (min-width : 1200px){
	.form-fiche-client {
		.Margin(20, 0);
		.btn-ordered-ok {
			i{
				.MarginLeft(10);
				width: 20px;
			}
		}
	}
	.form-recap-commande{
		th.img {
			display:inherit;
		}
	}
	fieldset.paiement{
		.relais-colis {
			flex-direction: row;
			height: auto;
			input {
				.MarginLeft(10);
				.MarginBottom(0);
			}
		}
		figure {
			display: inline-block;
		}
		span {
			.MarginLeft(40);
			font-size:16px;
		}
		.prix {
			max-width: 12%;
		}
		input[type="text"]{
			width: 500px;
		}
	}
}