.block-intro-home{
	.MarginLeft(-15);
	.MarginRight(-15);
}
.block-margin-none{
	.MarginLeft(-15);
	.MarginRight(-15);
	.PaddingLeft(0);
	.PaddingRight(0);
	.wp-block-group__inner-container{
		padding: 0;
		figure{
			margin: 0 auto;
		}
	}
}
.inside-page-hero{
	h1{
		.fontSize(40);
		letter-spacing: 0;
		span.bold{
			font-weight: @Bold;
		}	
	}
	h2{
		.fontSize(25);
		strong {
			font-size: inherit;
		}
	}
}
.container-footer{
	.container{
		background-color: transparent;
	}
}
.wp-block-embed.container{
	.Padding(0);
}
.wp-block-group__inner-container{
	.Padding(15, 20, 60, 20);
}
@media screen and (max-width : 768px){
	.block-intro-home{
		.wp-block-group__inner-container{
			.PaddingTop(10);
		}
	}
}
@media screen and (min-width : 576px){

}
@media screen and (min-width : 768px){
	.inside-page-hero{
		h1{
			.fontSize(90);
			span.bold{
				font-weight: @Bold;
			}	
		}
		h2{
			.fontSize(50);
			strong {
				font-size: inherit;
			}
		}
	}
	.wp-block-group__inner-container{
		.Padding(60, 20);
	}
}
@media screen and (min-width : 992px){
}
@media screen and (min-width : 1200px){
}
