.site-header{
	background-color: @White;
	.Height(120);
	padding: 0;
	position: fixed;
	width: 100%;
	.boxshadow(0px, 3px, 6px, 0px, @shadow);
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	z-index: 10;
	
	.widget-delivery{
		a{
			color: @Blue-1;
			&:hover{
				color: @White;
				text-decoration: underline;
			}
		}
	}
}
.branding-site{
	.relative();
}
.logo-site{
	.Margin(0);
	.background100();
	.Height(55);
	.Width(250);
	span{
		.Height(0);
		direction: ltr;
		display: block;
		text-indent: -999em;
	}
}

.container-reseau-account{
	.relative();
}
@media screen and (min-width : 576px){
}
@media screen and (min-width : 768px){
	.site-header{
		.Height(194);
		.widgets-contact-reseaux{
			.widget-delivery{
				.fontSize(16);
				span{
					.PaddingRight(15);
				}
			}
			.widget-tel{
				.Margin(0, 15);
			}
		}
	}
}
@media screen and (min-width : 992px){
}
@media screen and (min-width : 1200px){
	.site-header{
		.Height(120);
		background-color: @White;
		padding: 0;
		.boxshadow(0px, 3px, 6px, 0px, @shadow);
		.widget-tel{
			.Margin(0, 30, 0, 15);
		}
	}
	.page-title {
		color: white;
		.fontSize(60);
	}
	.page-header h1 {
		color:white;
		text-transform: uppercase;
	}
	.page-header {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}