figure{
	.relative();
	figcaption,
	legend{
		.absolute();
		bottom: 5%;
		.fontSize(14);
		text-align: center;
		width: 100%;
	}
/*
	img{
		min-height: 100%;
		min-width: 100%;
	}
*/
}
img{
	max-width: 100%;
	height: auto;
}
