
.WidthHeader() {
	width: ~"calc(100% - @{WidthNavD})";
}
.lineHeight(@size){
	line-height: ~"@{size}px";
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	line-height: ~"@{toRem}";
}
.Height(@size) {
	height: ~"@{size}px";
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	height: ~"@{toRem}";
}
.MaxHeight(@size) {
	max-height: ~"@{size}px";
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	max-height: ~"@{toRem}";
}
.Bottom(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	bottom: ~"@{size}px";
	bottom: ~"@{toRem}";
}
.Top(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	top: ~"@{size}px";	
	top: ~"@{toRem}";
}
.Right(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	right: ~"@{size}px";
	right: ~"@{toRem}";
}
.Left(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	left: ~"@{size}px";
	left: ~"@{toRem}";
}
.Margin(@t, @r, @b, @l){
	margin: ~"@{t}px @{r}px @{b}px @{l}px";
	@remt: ((@t / @BaseSize) * 1.6);
	@toRemt: unit(@remt, rem);
	@remr: ((@r / @BaseSize) * 1.6);
	@toRemr: unit(@remr, rem);
	@remb: ((@b / @BaseSize) * 1.6);
	@toRemb: unit(@remb, rem);
	@reml: ((@l / @BaseSize) * 1.6);
	@toReml: unit(@reml, rem);
	margin: ~"@{toRemt} @{toRemr} @{toRemb} @{toReml}";
}
.Margin(@tb, @lr){
	margin: ~"@{tb}px @{lr}px";
	@remtb: ((@tb / @BaseSize) * 1.6);
	@toRemtb: unit(@remtb, rem);
	@remlr: ((@lr / @BaseSize) * 1.6);
	@toRemlr: unit(@remlr, rem);
	margin: ~"@{toRemtb} @{toRemlr}";
}
.Margin(@size) {
	margin: ~"@{size}px";
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	margin: ~"@{toRem}";
}
.MarginTop(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	margin-top: ~"@{size}px";
	margin-top: ~"@{toRem}";
}
.MarginBottom(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	margin-bottom: ~"@{size}px";
	margin-bottom: ~"@{toRem}";
}
.MarginLeft(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	margin-left: ~"@{toRem}";
}
.MarginRight(@size) {
	margin-right: ~"@{size}px";
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	margin-right: ~"@{toRem}";
}
.MarginCenter(@size){
	margin: ~"@{size}px auto";
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	margin: ~"@{toRem} auto";
}
.Padding(@t, @r, @b, @l){
	@remt: ((@t / @BaseSize) * 1.6);
	@toRemt: unit(@remt, rem);
	@remr: ((@r / @BaseSize) * 1.6);
	@toRemr: unit(@remr, rem);
	@remb: ((@b / @BaseSize) * 1.6);
	@toRemb: unit(@remb, rem);
	@reml: ((@l / @BaseSize) * 1.6);
	@toReml: unit(@reml, rem);
	padding: ~"@{t}px @{r}px @{b}px @{l}px";
	padding: ~"@{toRemt} @{toRemr} @{toRemb} @{toReml}";
}
.Padding(@tb, @lr){
	@remtb: ((@tb / @BaseSize) * 1.6);
	@remlr: ((@lr / @BaseSize) * 1.6);
	padding: ~"@{tb}px @{lr}px";	
	padding: ~"@{remtb}rem @{remlr}rem";
}
.Padding(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	padding: ~"@{size}px";	
	padding: ~"@{toRem}";
}
.PaddingBottom(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	padding-bottom: ~"@{size}px";
	padding-bottom: ~"@{toRem}";
}
.PaddingLeft(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);	
	padding-left: ~"@{size}px";
	padding-left: ~"@{toRem}";
}
.PaddingRight(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	padding-right: ~"@{size}px";		
	padding-right: ~"@{toRem}";
}
.PaddingTop(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	padding-top: ~"@{size}px";
	padding-top: ~"@{toRem}";
}
.Width(@size) {
	@remSize: ((@size / @BaseSize) * 1.6);
	@toRem: unit(@remSize, rem);
	width: ~"@{size}px";
	width: ~"@{toRem}";
}
.absolute(){
	position:absolute;
}
.fixed(){
	position: fixed;
}
.relative(){
	position: relative;
}
.static(){
	position: static;
}