.header-site{
	background-color: @Blue;
	.Height(285);
	&:after{
		content: '';
		background: url('@{path}/svg/motif.svg') repeat-x center center;
		.Bottom(-40);
		display: block;
		left: 0;
		right: 0;
		.absolute();
		width: 100%;
		.Height(50);
		z-index: -1;
	}
	.logo-site{
		.relative();
		margin: 0 auto;
		.MarginTop(150);
	}
}
.site-main{
	.PaddingTop(450);
	text-align: center;
}
.link-item{
	i{
		background-color: @Blue;
		.border-radius(@rad:50%);
		.Height(50);
		.lineHeight(50);
		.MarginBottom(10);
		.Width(50);

		&:before{
			color: @White;
			.fontSize(24);
		}
	}
	span{
		.fontSize(20);
	}
}