.body-thanks{
	.container-footer{
		.MarginTop(20);
	}
}
.page-account{
	.page-header{
		.MarginBottom(0);
	}
	.infos-membre{
		.Padding(20, 0);
		.MarginBottom(40);
		background-color: @Grey-1;
		li{
			.PaddingBottom(10);
			&:last-child{
				.Padding(0);
			}
			p{
				.fontSize(16);
				b{
					font-size: inherit;
				}
			}
		}
		span{
			color: @Grey-tab-head;
			text-transform: uppercase;
		}
		b{
			color: @Blue-4;
			.OpenS-B();
		}
		p{
			color: @Blue-4;
			.fontSize(16); 
			width: 100%;
		}
		p.title-information{
			color: @Grey-tab-head;
			border-bottom: solid 1px @Grey-4;
			text-transform: uppercase;
			.PaddingBottom(5px);
			
		}
		.button{
			margin: 0;
		}
	}
	.head-commandes{
		color: @Grey-4;
		text-transform: uppercase;
	}
	.item-commandes{
		.PaddingBottom(15);
		.PaddingTop(15);
		&:nth-child(1n+2){
			background-color: @Grey-1;
		}	
	}
	.ref-item-product{
		color: @Blue-1;
		text-transform: uppercase;
	}
	.item-commande-pdf{
		color: @Blue-1;
		i{
			color: inherit;
			&:before{
				color: inherit;
			}
		}
	}
}
.content-fiche-signin{
	.alert-danger{
		.static();
	}
}
.content-fiche-signin-thanks{
	p{
		text-align: center;
	}
}
.container-edit-user,
.edit-user{
	.relative();
}
.alertify{
	.ajs-dialog{
		min-height: 260px;
	}
}
.alertify.ajs-closable{
	.ajs-commands {
		button.ajs-close {
			display: block;	
		}
	}
}
.alertify.ajs-maximizable {
	.ajs-commands{
		button.ajs-maximize{
			display: none;
		}
	}
}
.alertify.ajs-resizable {
	.ajs-body{
		.ajs-content{
			.Top(90);		
		}
	}
}
@media screen and (min-width : 576px){
}
@media screen and (min-width : 768px){
}
@media screen and (min-width : 992px){
	.body-thanks{
		height: 100vh;
		.container-footter{
			.MarginTop(0);
		}
	}
}
@media screen and (min-width : 1200px){
}