.content-navigations{
	padding: 0;
}
.container-navigation{
	background-color: @White;
	margin: 0;
	.Padding(15, 0, 10, 0);
	.relative();
	z-index: 0;
	li{
		a{
			.OpenS-R();
			text-transform: uppercase;
			&:before{
				.fontSize(20);
				.Mify();
				.relative();
				.PaddingTop(5);
				order: 2;
			}
		}
	}
	.menu-toggle-mobile.on {
		background-color: #fff;
		border-color: #01a0c6;
		cursor: pointer;
		color: #01a0c6;
	}
	button {
		background-color: #08093f;
		border: 1px solid #08093f;
		border-radius: 4px;
		color: @White;
		.OpenS-R();
		font-weight: 400;
		line-height: 40px;
		margin: 15px;
		padding: 0px 15px;
		width: auto;
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		text-transform: uppercase;
	}
	.menu-toggle-mobile.on::after {
		color: #01a0c6;
		.Mify();
		content: '\e646';
	}
}
.primary-navigation{
		background-color: @White;
		.absolute();
		opacity: 0;
		.transformY(@y:-100%);
		width: 100%;
		z-index: -1;
		.transition(@prop:all, @duration:0.8s, @ease:ease-in-out);
		.boxshadow(0px, 3px, 6px, 0px, @shadow);
		ul{
			margin: 0;
		}
		li{
			.relative();
			text-align: center;
			a{
				.OpenS-R();
				.fontSize(16);
				text-transform: uppercase;
				.Padding(10, 0);
				&:before{
					.Mify();
					order: 2;
				}
				color: @Grey-5;
				display: block;
				text-align: center;
				height: 100%;
				width: 100%;
			}
			&:before{
				background-color: @Blue-1;
				content:'';
				display: block;
				.Height(2);
				margin: 0 auto;
				.Top(0);
				.Width(0);
				.transition(@prop:all, @duration:0.3s, @ease:ease-in-out)
			}
		}
		li.current-menu-item{
			a{
				.OpenS-SB();
				color: @Blue-3;
			}
			&:before{
				background-color: @Blue-3;
				.Width(25);
			}
		}
		li.menu-item-has-children{
			.static();
			i{
				.MarginTop(-15);
			}
			ul{
				li{
					.relative();
				}
			}
		}
		li.menu-item-has-children.on{
			&:before{
				.Width(25);
			}
			a{
				color: @Blue-1;
				&:before{
					content:'\e646';
				}
			}
			.sub-menu{
				display: block;
				-webkit-animation: fadeIn 1s;
				animation: fadeIn 1s;
				li{
					&:before{
						.Top(0);
						.Width(0);
					}
					&:hover{
						&:before{
							.Width(25);
						}
					}
					a{
						color:@Grey-5;
						&:hover{
							color: @Blue-1;
						}
						&:before{
							display: none;
						}
					}
				}
			}
		}
	}
.primary-navigation.on{
		.relative();
		opacity: 1;
		.transformY(@y:0);
		.transition(@prop:all, @duration:0.8s, @ease:ease-in-out);
	}
.breadcrumb{
	.fontSize(14);
	*{
		color: @Grey-5;
	}
	.home-page{
		direction: ltr;
		display: inline-block;
		text-indent: -999em;
	}
	a{
		text-decoration: none;
	}
	i{
		display: inline-block;
		.Padding(0, 5);
		&:before{
			vertical-align: middle;
		}
		&:first-child{
			.PaddingLeft(10);
		}
	}
}
@media screen and (min-width : 576px){
	.primary-navigation{
		background-color: @White;
		height: inherit;
		.relative();
		opacity: 1;
		z-index: 0;
		transform: initial;
		width: auto;
		.transition(@prop:all, @duration:0.8s, @ease:ease-in-out);
		.boxshadow(0px, 0px, 0px, 0px, @shadow);
		.MarginTop(0);
		.Padding(0);
		.menu-navigation-principale{
			height: inherit;
		}		
		li{
			.relative();
			a{
				.fontSize(14);
				color: @Grey-5;
				display: block;
				.Padding(0, 15);
				text-align: center;
				width: 100%;
				&:hover{
					color: @Blue-1;
				}
				&:before{
					.fontSize(16);
					.PaddingTop(0);
					.PaddingLeft(5);
				}
			}
			&:before{
				background-color: @Blue-1;
				content:'';
				display: block;
				.Height(2);
				.absolute;
				.Top(20);
				.Width(0);
				.transition(@prop:all, @duration:0.3s, @ease:ease-in-out)
			}
			&:hover{
				&:before{
					.Width(25);
				}
			}
			a{
				
			}
		}
		li.current-menu-item{
			a{
				.OpenS-SB();
				color: @Blue-3;
			}
			&:before{
				background-color: @Blue-3;
				.Width(25);
			}
			.sub-menu{
				display: block;
				-webkit-animation: fadeIn 1s;
				animation: fadeIn 1s;
				li{
					&:before{
						.Width(0);
					}
					&:hover{
						&:before{
							.Width(25);
						}
					}
					a{
						color:@Grey-5;
						&:hover{
							color: @Blue-3;
						}
					}
				}
			}
		}
		.primary-navigation.on{
			.relative();
			opacity: 1;
			.transformY(@y:0);
			.transition(@prop:all, @duration:0.8s, @ease:ease-in-out);
		}
		.sub-menu {
			display: none;
			position: absolute;
			background-color: @Grey-sub-menu;
			left: 0;
			.Margin(0);
			right: 0;
			.Top(80);
			width: auto;
			z-index: 1;
			&:before{
				box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4);
				content: '';
				display: block;
				.absolute();
				top: 0;
				height: 100%;
				width: 100%;
			}
			li{
				a{
					.Padding(10);
				}
			}
		}
	}
}
@media screen and (min-width : 768px){
	.container-navigation{
		.Height(80);
		background-color: @White;
		margin: 0;
		.Padding(0);
	}
	
}
@media screen and (min-width : 992px){
	.primary-navigation{
		.PaddingLeft(60);
	}
}
@media screen and (min-width : 1200px){
}