.container-newsletter{
	h4{
    	color: @White;
		.fontSize(20);
		text-transform: uppercase;
		position: relative;
		&:before{
			background: @Yellow;
			content: '';
			display: block;
			left: 0;
			.Height(10);
			.Width(140);
			position: absolute;
			.Top(-30);
		}
	}
}