// out: false

.container-recap-panier{
	.absolute();
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	.transformY(@y:-100%);
	z-index: 1;
	.content-recap-panier{
		background-color: @White;
		.Padding(30, 0);
	}
	h3{
		color: @Blue-1;
		.OpenS-L();
		.fontSize(24);
		text-align: center;
		text-transform: uppercase;
		.Margin(30, 0);
	}
	&:after{
		background-color: @Overlay;
		content: '';
		display: block;
		height: 100vh;
		opacity: 0;
		.transition(@prop:all, @duration:0.6s, @ease:ease-in-out);
		width: 100%;
	}
}
.recap-panier-on{
	.transformY(@y:150px);
	&:after{
		opacity: 1;
	}
}
.header-recap-panier{
	.relative();
	button.recap-close{
		background-color: transparent;
		border: none;
		border-radius: 0px;
		.absolute();
		margin: 0;
		padding: 0;
		right: 0;
		top: 0;
		span{
			direction: ltr;
			display: block;
			text-indent: -999em;
		}
		i{
			color: @Blue-1;
		}
	}
}
.container-alert{
	text-align: center;
}
.alert{
	border: 1px solid transparent;
	display: inline-block;
	.lineHeight(35);
	margin: 0 auto;
	.Padding(0, 10);
	.border-radius(@rad:5px);
	text-align: center;
	i{
		display: inline-block;
		.PaddingRight(10);
	}
	*{
		vertical-align: middle;
	}
}
.alert-danger {
	background-color: @Error;
	.Bottom(-20);
	color: white;
	.Left(0);
	.Margin(0);
	.absolute();
	z-index: 4;
}
.alert-danger.alert-generale{
	.static();
}
.alert-relais-colis{
	bottom: -30px;
	right: 30%;
}
.alert-static {
	position: static;
	margin-top: 15px;
}
.stock-warning{
	color: @AlertText;
	background-color: @AlertBackground;
	border-color: @AlertBorder;
	.MarginTop(15);
	height: 42px;
	width: 205px;
	line-height:42px;
}
.alert-warning {
	color: @AlertText;
	background-color: @AlertBackground;
	border-color: @AlertBorder;
}
.table{
	*{
		vertical-align: middle;
	}
	.image-product{
		.Height(80);
		.Width(80);
	}
	.recap-panier-description{
		*{
			display: inline-block;
			margin: 0;
		}
	}
}
.alertify.ajs-closable{
	.ajs-commands button.ajs-close{
		display: none;
	}
}
.alertify{
	.ajs-dialog{
		box-shadow: none;
		border: none;
	}
	.ajs-header{
		color: @Blue-1;
		text-align: center;
		i{
			display: block;
			.Padding(30);
			&:before{
				.fontSize(45);

			}
		}
		p{
			.fontSize(24);
			.OpenS-SB();
			text-align: inherit;
		}
	}
	.ajs-header,
	.ajs-footer{
		border: none;
	}

	.ajs-body{
		display: none;
	}
	.ajs-footer{
		.ajs-buttons.ajs-primary{
			text-align: center;
			.ajs-ok,
			.ajs-cancel{
				vertical-align: middle;
				&:hover{
					cursor: pointer;
				}
				&:before,
				&:after{
					display: inline-block;
					.Mify();
					.fontSize(18);
					vertical-align: middle;
				}
			}
			.ajs-ok{
				background-color: @Blue-3;
				border-color: @Blue-3;
				color: @White;
				&:hover{
					background-color: @White;
					border-color: @Blue-3;
					color: @Blue-3;
				}
				&:before{
					content: '\e60e';
					.PaddingRight(15);
				}
			}
			.ajs-cancel{
				background-color: @Orange;
				border-color: @Orange;
				color: @White;
				&:hover{
					background-color: @White;
					border-color: @Blue-1;
					color: @Blue-1;
				}
				&:after{
					content: '\e69b';
					.PaddingLeft(15);
				}
			}

		}
	}
}
.table-header{
	background-color: @Grey-1
}
.container-panier{
	.bootstrap-table{
		.table{
			border-bottom: none;
			tbody{
				border-bottom: none;
				td {
					font-size: 14px;
					text-align: center;
				}
			}
			thead{
				background-color: @Grey-tab;
				> tr > th{
				color: @Grey-tab-head;
				.OpenS-B();
				.Padding(6);
				vertical-align: middle;
				}
			}
			.recap-panier-description{
				p {
					.fontSize(16);
					display: none;
					text-align: left;
				}
				color: @Grey-item-tab;
				.image-product{
					.MarginRight(30);
				}
				b{
					.OpenS-SB()
				}
			}
			.link-delete{
				color: @Grey-4;
				span{
					direction: ltr;
					display: block;
					text-indent: -999em;
				}
				&:hover,
				&:focus{
					color: @Error;
				}
			}

			.item-bucket-product{
				border-bottom: 1px solid @Grey-2;
			}
			.items-delivery-total{
				text-align: right;
				strong{
					color: @Blue-1;
				}
			}
			.items-delivery-total-final{
				text-align: right;
				strong{
					color: @Blue-3;
				}
			}
			.items-delivery-total,
			.items-delivery-total-final{
				text-transform: uppercase;
				strong{
					.fontSize(24);
				}
			}
			.quantity{
				input{
					text-align: center;
					width: 100%;
				}
			}
		}
		}
	em{
		text-align: center;
		width: 100%;
		b{
			.OpenS-SB();
		}
	}
}
.be-carreful{
	color: @Error;
	.Margin(15, 0);
	text-align: center;
}
.bandeau-icons{
	background-color: @Grey-1;
	.Padding(20, 0);
	.MarginTop(-20);
	i{
		&:before{
			.fontSize(40);
			color: @Grey-3;
		}
	}
	.active{
		i{
			&:before{
				color: @Blue-1;
			}
		}
	}
	.bandeau-money{
		border-left: 1px solid @Grey-3;
		border-right: 1px solid @Grey-3;
	}
}
.btn-modif-commande{
	h4{
		color: @Error;
		.fontSize(16);
	}
	.ti-reload{
		.MarginLeft(0);
	}
}
@media screen and (min-width : 576px){
}
@media screen and (min-width : 768px){
}
@media screen and (min-width : 992px){
	.recap-panier-on{
		.transformY(@y:120px);
	}
	.recap-panier-description{
				color: @Grey-item-tab;
				.image-product{
					.MarginRight(30);
				}
			}
	.items-delivery-total{
		text-align: right;
		strong{
			color: @Blue-1;
		}
	}
	.items-delivery-total-final{
		text-align: right;
		strong{
			color: @Blue-3;
		}
	}
	.container-panier{
		.bootstrap-table{
			.table{
				thead{
					.Padding(8);
					}
				.recap-panier-description{
					p {
						.MarginLeft(10);
						display: inline-block;
					}
				}
			}
		}
	}
	.bandeau-icons{
		i{
			&:before{
				.fontSize(60);
			}
		}
	}
}
@media screen and (min-width : 1200px){
	.recap-panier-on{
		.transformY(@y:120px);
	}
	.recap-panier-description{
				color: @Grey-item-tab;
				.image-product{
					.MarginRight(30);
				}
	}
	.items-delivery-total{
		text-align: right;
		strong{
			color: @Blue-1;
		}
	}
	.items-delivery-total-final{
		text-align: right;
		strong{
			color: @Blue-3;
		}
	}
	.container-panier{
		.bootstrap-table{
			.table{
				thead{
					.Padding(8);
					}
				.recap-panier-description{
					p {
						.MarginLeft(10);
						display: inline-block;
					}
				}
			}
		}
	}
}
