.header-product{
	border-bottom: 1px solid @Grey-3;
	.MarginBottom(15);
	.Padding(15, 0);
}
.title-product{
	color: @Blue-3;
}
.price-product{
	color: @Blue-1;
	.fontSize(24);
}
.title-product, .price-product{
	font-weight: @SemiBold;
	margin: 0;
}
.page-inner{
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
}
.blur{
	filter: blur(5px);
    opacity: .5;
}