.slider{
	.item-slide{
		float: left;
		overflow: hidden;
		article{
            .author{
                font-weight: bold;
                text-transform: uppercase;
            }
            span{
	            text-transform: uppercase;
            }
			.relative();
		}
		.content-text-slider{
			text-align: center;
		}
		figure{
			&:before{
				.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			}
		}
	}
}
.slider-container{
    overflow: hidden;
	.relative();
}
.slick-dots{
	.relative();
	.Height(40);
	text-align: center;
	li{
		display: inline-block;
		.Margin(10);
		&:hover,
		&:focus,
		&:active{
			button{
				opacity: 1;
			}
		}
		button{
            background: none;
            border: 1px solid @White;
            .border-radius(@rad:100%);
			direction: ltr;
			text-indent: -999em;
			.Height(10);
			.Width(10);
			opacity: 1;
		}
	}
	li.slick-active{
		&:hover,
		&:focus,
		&:active{
			button{
				opacity: 1;
			}
		}
		button{
            background-color: @White;
			opacity: 1;
		}
	}
}
