.widgets-contact-reseaux{
    background-color: @Blue-4;
    color: @White;
    .container-reseau-account{
        background-color: transparent;
        row{
            width: 100vw;
        }
    }
    ul,
    p{
        .Height(40);
        .lineHeight(40);
        margin: 0;
        width: auto;
        i{
            display: inline-block;
            .PaddingRight(10);
            vertical-align: middle;
            &:before{
                .fontSize(24);
            }
        }
    }
    p{
        .OpenS-SB();
    }
    .widget-media-sociaux{
        .MarginRight(15);
        &:after{
            background-color: @Blue-1;
            content: '';
            display: inline-block;
            .Height(24);
            vertical-align: middle;
            .Width(1);
        }
        li{
            text-align: center;
            .PaddingRight(10);
        }
        a{
            color: @Blue-1;
            text-decoration: none;
            i{
                &:before{
                    .fontSize(18);
                }
            }
        }
    }
    .widget-delivery{
        .fontSize(14);
        color: @Blue-1;
        &:after{
            background-color: @Blue-1;
            content: '';
            display: inline-block;
            .Height(24);
            vertical-align: middle;
            .Width(1);
        }
        span{
            color: inherit;
            display: inline-block;
            .PaddingRight(15);
        }
        sup{
            color: inherit;
        }
    }
    .widget-cgv{
        a{
            .fontSize(14);
            color: @Blue-1;
            .PaddingLeft(15);
            &:after{
                background-color: @Blue-1;
                content:'';
                display: inline-block;
                .Height(24);
                vertical-align: middle;
                .Width(1);
                .MarginLeft(15);
            }
        }
    }
    .widget-tel{
        .MarginLeft(8);
        i{
            color: @White;
        }
        a{
            color: @White;
            .OpenS-SB();
            text-decoration: none;
        }
    }
}
.widgets-panier-navigation{
    bottom: 0;
    left: 0;
    margin: 0;
    height: 40px;
    .fixed();
    right: 0;
    z-index: 99;
    .transformY(@y:0px);
    .transition(@prop:all, @duration:0.8s, @ease:ease-in-out);
    ul{
        li{
        .Height(40);
        .nav-link-widget{
            padding: 0;
            text-transform: uppercase;
            width: 100%;
        }
        a,
        button{
            color: @White;
            .Height(40);
            i{
                color: @White;
                text-align: center;
                .fontSize(24);
                height: inherit;
                .lineHeight(40);
                padding: 0;
                width: 100%;
                &:before{
                    color: inherit;
                }
            }
        }
        .nav-link-widget-compte{
            .relative();
        }
        .nav-link-widget-compte,
        .nav-link-widget-connexion{
            background-color: @Blue-2;
        }
        .nav-link-widget-compte{
            i.ti-angle-down{
                .fontSize(14);
                margin: 0;
                .MarginLeft(10);
                height: auto;
                width: auto;
                &:before{
                    color: @White;
                }
            }
        }
        .nav-link-widget-contact{
            background-color: @Blue-1;
        }
        .nav-link-widget-panier{
            background-color: @Blue-3;
            border: none;
            border-radius: 0px;
            .relative();
            margin: 0;
            padding: 0;
            .PaddingRight(10);
            i{
                &:before{
                    color: @White;
                }
            }
            .count{
                background-color: @White;
                .border-radius(@rad:50%);
                color: @Blue-3;
                .Height(20);
                .lineHeight(20);
                .absolute();
                .Right(10);
                text-align: center;
                .Width(20);
            }
            &:hover{
                cursor: pointer;
            }
        }
        .compte-sub-menu{
            display: none;
            .relative();
            .Height(100);
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
            li{
                a{
                    color: @Blue-2;
                    height: 100%;
                    .Padding(0);
                    font-size: 12px;
                }
            }
        }
        .compte-sub-menu.sub-menu-on{
            display: block;
            z-index:-3;
            background-color: white;
            .transformY(@y:-125px);
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }
    }
    }

    li.nav-item-widget-compte{
        height: auto;
    }
}

@media screen and (min-width : 576px){
}
@media screen and (min-width : 768px){
    .widgets-panier-navigation{
        .static();
        top:0;
        ul{
            li{
                .Width(40);
                .nav-link-widget-panier{
                    i{
                        .PaddingLeft(10);
                    }
                    .count{
                        .Right(-15);
                    }
                }
            }
        }
    }
    .widgets-contact-reseaux{
        .container-reseau-account{
            .MarginBottom(20);
        }
    }
}
@media screen and (min-width : 992px){
    .widgets-contact-reseaux{
        .container-reseau-account{
            .MarginBottom(0);
        }
    }
    .widgets-panier-navigation{
        width: auto;
        z-index: 1;
        ul{
            li{
                width: auto;
                a,
                button{
                    color: @White;
                    .PaddingRight(10);
                    i{
                        background-color: @Grey-3;
                        .MarginRight(10);
                        padding: 0;
                        .Width(40);
                    }
                }
                .nav-link-widget{
                    .PaddingRight(10);
                }
                .nav-link-widget-compte,
                .nav-link-widget-connexion{
                    background-color: @Blue-2;
                    i{
                        &:before{
                            color: @Blue-2;
                        }
                    }
                }
                .nav-link-widget-compte{
                    i.ti-angle-down{
                        background-color: transparent;
                        .fontSize(14);
                        margin: 0;
                        .MarginLeft(10);
                        height: auto;
                        width: auto;
                        &:before{
                            color: @White;
                        }
                    }
                }
                .nav-link-widget-contact{
                    background-color: @Blue-1;
                    i{
                        background-color: @Grey-2;
                        &:before{
                            color: @Blue-1;
                        }
                    }
                }
                .nav-link-widget-panier{
                    background-color: @Blue-3;
                    border: none;
                    border-radius: 0px;
                    .relative();
                    margin: 0;
                    padding: 0;
                    .PaddingRight(10);
                    i{
                        &:before{
                            color: @Blue-3;
                        }
                    }
                    .count{
                        background-color: @White;
                        .border-radius(@rad:50%);
                        color: @Blue-3;
                        .Height(20);
                        .lineHeight(20);
                        .absolute();
                        .Right(10);
                        text-align: center;
                        .Width(20);
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
                .compte-sub-menu{
                    display: none;
                    opacity: 0;
                    overflow: hidden;
                    .relative();
                    .Height(80);
                    li{
                        a{
                            color: @Blue-2;
                            height: 100%;
                            .fontSize(16);
                            i{
                                .MarginLeft(0);
                                background-color: @Blue-2;
                            }
                        }
                    }
                }
                .compte-sub-menu.sub-menu-on{
                    display: block;
                    opacity: 1;
                    .transformY(@y:0px);
                    z-index:2;
                }
            }
        }
    }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@media screen and (min-width : 1200px){
    .widgets-panier-navigation{
        width: auto;
        z-index: 1;
        ul{
            li{
                a,
                button{
                    color: @White;
                    .PaddingRight(10);
                    i{
                        background-color: @Grey-3;
                        .MarginRight(10);
                        padding: 0;
                        .Width(40);
                    }
                }
                .nav-link-widget-compte,
                .nav-link-widget-connexion{
                    background-color: @Blue-2;
                    i{
                        &:before{
                            color: @Blue-2;
                        }
                    }
                }
                .nav-link-widget-compte{
                    i.ti-angle-down{
                        background-color: transparent;
                        .fontSize(14);
                        margin: 0;
                        .MarginLeft(10);
                        height: auto;
                        width: auto;
                        &:before{
                            .fontSize(14);
                            color: @White;
                        }
                    }
                }
                .nav-link-widget-contact{
                    background-color: @Blue-1;
                    i{
                        background-color: @Grey-2;
                        &:before{
                            color: @Blue-1;
                        }
                    }
                }
                .nav-link-widget-panier{
                    background-color: @Blue-3;
                    border: none;
                    border-radius: 0px;
                    .relative();
                    margin: 0;
                    padding: 0;
                    .PaddingRight(10);
                    i{
                        &:before{
                            color: @Blue-3;
                        }
                    }
                    .count{
                        background-color: @White;
                        .border-radius(@rad:50%);
                        color: @Blue-3;
                        .Height(20);
                        .lineHeight(20);
                        .absolute();
                        .Right(10);
                        text-align: center;
                        .Width(20);
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}