// Fixed Width Icons
// -------------------------
.@{fa-css-prefix}-fw {
  text-align: center;
  width: (20em / 16);
}
// Fixed Width Icons
// -------------------------
.@{fa-css-prefix}-fw {
  text-align: center;
  width: (20em / 16);
}
